.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.card{
  min-width: 300px;
}

.card-img-top{
  width: 80px;
  display: block;
  margin: auto;
  margin-top: 20px;
}